@import "./reset.css";

/* 메인화면 큰테두리 */
.video_group {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
  width: 0px;
  flex-direction: column;
  margin-right: 10px;
  cursor: pointer;
}

/* 아이템들 가운데 정렬하기 */
.container_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 제목 두줄 제한 */
.main_text_line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
