.icon_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #00ff0000;
  cursor: pointer;
  width: 100%;
  height: 64px;
  border-radius: 3px;
  margin: 1px;
}
.icon_logo:hover {
  background-color: #b2b2b2;
}
