/* reset css 참조 */
@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* main */
#main{
    width: 300px;
    height: 670px;
    margin-left: 170px;
    background-image: url("image/iphone_main_img.png");
    background-size: cover;
    padding: 30px;
    border-radius: 30px;
}

#main_top{
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

#main_bottom{
    width: 100%;
    height: 50%;
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#main_ball_img{
    width: 100px;
}

.main_number_btn{
    width: 90px;
    height: 45px;
    margin: 3px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
}

@keyframes vibration {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(-1deg);
    }
  }

#result{
    border-radius: 7px;
    color: white;
    background-color: #576173;
    font-size: 10px;
    padding: 10px;
}


#main_introduce_text{
    color: white
}

#main_present_text_shape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.main_present_text{
    border-radius: 50%;
    background-color: #495564;
    color: white;
}

#header_present_time{
    color: white;
    margin-left: 10px;
}

.header_img_size{
    width: 20px;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#baseball_btn{
    background-color: transparent;
    border: none;
}

#intro{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#intro_img{
    width: 150px;
}

#intro_loading_img{
    margin-top: 30px;
    width: 100px;
}

@keyframes brightness {
    from {
        filter: brightness(10%)
    }
    to {
        filter: brightness(100%)
    }
  }