#main_book_container{
    width: 820px;
    height: 600px;
    perspective: 1000px;
    background-color: burlywood;
    position: relative;
}
#main_book_cover_container{
    width: 48%;
    height: 100%;
    background-image:url("image/book_cover.jpg");
    background-repeat: no-repeat;
    background-color: black;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    transform-origin: left center;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    cursor: pointer;
    
}

#main_book_content_container{
    width: 48%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: black;
    cursor: pointer;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    
    display: flex;
    flex-wrap: wrap;
}


.puzzle_img{
    width: 33%;
    height: 33%;
}