@import "../common/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Orbit&display=swap");
* {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.html,
body {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

#page_container {
  display: grid;
  grid-template-areas:
    "aside_left header "
    "aside_left main ";
}
/* vh 사용  */
#funciton_aside {
  grid-area: aside_left;
  width: 160px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#story_header {
  grid-area: header;
  width: 100%;
  height: 60px;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.hedaer_story_user {
  width: 50px;
  height: 50px;
  margin: 10px;
  display: flex;
  flex: 1;
}
.hedaer_story_user:hover {
  transform: scale(1.2);
}

.aside_icon {
  width: 20px;
  margin: 20px;
  cursor: pointer;
}

#aside_logo_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_text_box {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s linear;
  overflow: hidden;
  cursor: pointer;
}
.logo_text_box:hover {
  opacity: 0.4;
  transform: scale(1.2);
}

#posting_main {
  grid-area: main;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
/* 스크롤바 안보이게 설정 */
#posting_main::-webkit-scrollbar {
  display: none;
}

.post_box {
  width: 750px;
  height: 530px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  opacity: 0;
  border-color: gray;
  border-radius: 3px;
  padding: 20px;
}
.thumb_and_title {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.post_title {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}
.title_user {
  display: flex;
  flex-direction: row;
}
.post_comment {
  display: flex;
  flex-direction: column;
}

.comment_specific {
  display: flex;
  flex-direction: row;
}

.comment_id {
  margin-right: 5px;
}
.title_icon_box {
  display: flex;
  flex-direction: row;
}

.title_icon {
  transition: all 0.2s linear;
  overflow: hidden;
  width: 40px;
}
.title_icon:hover {
  opacity: 0.4;
  transform: scale(1.2);
}

.save_icon {
  right: 0;
}
.title_icon_btn {
  border: none;
  background-color: #00ff0000;
  cursor: pointer;
}
.post_title_sentence {
  margin-right: 5px;
}
.post_title_plus {
  color: gray;
}
.comment_plus {
  color: gray;
}

#funciton_footer {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: black;
}
.footer_icon {
  width: 30px;
  transition: all 0.2s linear;
  overflow: hidden;
}
.footer_icon:hover {
  opacity: 0.4;
  transform: scale(1.2);
}
.footer_btn {
  background-color: #00ff0000;
  cursor: pointer;
  border: none;
}

.post_thumb {
  width: 65%;
  cursor: pointer;
  transition: all 0.3s linear;
  overflow: hidden;
}
.post_thumb:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.post_title_thumb {
  width: 30px;
  background-color: white;
}

.post_user {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@keyframes brighten {
  0% {
    filter: brightness(0%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes dark {
  0% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(0%);
  }
}

@keyframes width_to_100 {
  from {
    width: 0%;
    opacity: 0;
    margin-left: 50vh;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes margin_event {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10px;
  }
}
@keyframes opacity0to100 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.modal_body {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 600px;
  padding: 40px;
  text-align: center;
  background-color: #262626;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translate(-50%, -50%);
}

.category_list {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  background-color: #161616;
  color: white;
  line-height: 30px;
}

.blue_btn {
  width: 300px;
  height: 30px;
  background-color: #3875b9;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
#category_box {
  overflow-y: scroll;
  height: 60%;
  margin-bottom: 10px;
}
.placehorder {
  position: fixed;
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  pointer-events: none;
  color: #262626;
}

@keyframes placehorder_to_small {
  from {
    font-size: 16px;
  }
  to {
    font-size: 9px;
  }
}

@keyframes placehorder_to_big {
  from {
    font-size: 9px;
  }
  to {
    font-size: 16px;
  }
}

.main_text_line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
