@import "../common/reset.css";

/* ID 메인화면 */
#main_book_container {
  width: 820px;
  height: 600px;
  perspective: 1000px;
  position: relative;
}
/* ID 표지 */
#main_book_cover_container {
  width: 48%;
  height: 100%;
  background-image: url("image/book_cover.jpg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transform-origin: left center;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  cursor: pointer;
  border: solid 1px;
}

/* ID 다음 페이지 넘어가는 버튼 크기,위치 설정 CSS */
#next_page_line {
  display: none;
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  cursor: pointer;
}

/* CLASS 내용 CSS*/
.start_page_container {
  width: 48%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: solid 1px;
  background-color: #d18d4e;
  transform-origin: left center;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

/* CLASS 퍼즐 이미지 CSS */
.puzzle_img {
  width: 30%;
  height: 30%;
  border: solid 2px;
  cursor: pointer;
}

/* CLASS 퍼즐 이미지가 없는 CSS */
.puzzle_tmp_img {
  width: 30%;
  height: 30%;
  border: solid 2px;
  cursor: pointer;
  transform: rotateY(-180deg);
}

/* CLASS 자르는 이미지 형식 CSS */
.puzzle_cut_img {
  width: 30%;
  height: 30%;
  border: solid 2px;
  cursor: pointer;
}

/* CLASS 페이지 형식 CSS */
.main_book_container {
  width: 48%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: left center;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: solid 1px;
  background-color: #d18d4e;
}

/* CLASS 드래그 해서 넣는 공간 CSS */
.second_page_empty {
  width: 90%;
  height: 90%;
  background-color: white;
  text-align: center;
  font-size: 20px;
  line-height: 500px;
  text-align: center;
}

.hedaer_story_user {
  width: 30px;
  object-fit: cover;
}
