@import "../reset.css";
.btn_shape{
    border: solid;
    width: 40%;
    text-align: center;
}

#main_shape{
    width: 300px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}